
    <div class="container" style="text-align: center">
        <div class="row">
            <div class="four columns">
                <br>
            </div>
            <div class="four columns" style="background-color: black; text-align: left; border-style: solid">
                <div style="background-color: yellow; text-align: center;">
                    <br>
                    <a class='button u-full-width' href=<%= new_event_url %> >New entry</a>
                    <br>
                    <a class='button u-full-width' href=<%= user_events_url %>.csv >Export All Entries</a>
                    <br>
                    <a class='button u-full-width' href=<%= user_closecontacts_url %> >Contacts</a>

                    <br>

                </div>
                <ul style="list-style-type: none;">
                    <br>

                     <% @events.reverse.each do |event| %>
                        <li><a href="<%= user_event_url(current_user, event) %>"> <%= event.nicetitle %></a></li>
                    <% end %>
                </ul>
                <br>
            </div>
            <%= render "rack" %>




        </div>
    </div>
